@font-face {
    font-family: "Gilroy-Regular";
    src: url('../fonts/Gilroy-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url('../fonts/Gilroy-Medium.ttf') format("truetype");
}
@font-face {
    font-family: "Gilroy-SemiBold";
    src: url('../fonts/Gilroy-SemiBold.ttf') format("truetype");
}
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 16px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,
.h1,.h2,.h3,.h4,.h5,.h6{
    margin: 0;
    font-weight: normal;
}
h2{
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 56px;
    line-height: 76px;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
}
a, svg{
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.container{
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
}
.tac{
    text-align: center;
}
.bgc-y{
    background-color: #FFDD63;
}
.bgc-b{
    background-color: #3787FE;
}
.label{
    margin-bottom: 13px;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}
.h2-small{
    font-size: 46px;
    line-height: 60px;
}
.h2-big{
    font-size: 88px;
    line-height: 119px;
}
.slider-controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.slider-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    margin-left: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.slider-arrow.slick-disabled{
    opacity: 0.2;
    cursor: not-allowed;
}
.js-copy{
    cursor: pointer;
}

.header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 70px;
    font-family: "Gilroy-Medium", sans-serif;
}
.header__mobile{
    display: none;
}
.header__wrapper{
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding-top: 27px;
}
.header__controls{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 8px;
}
.logo{
    margin-right: 84px;
}
.menu{
    order: 1;
    margin-right: auto;
}
.lang{
    order: 2;
    margin-right: 41px;
}
.menu__item,
.lang__item{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}
.menu__item:not(:last-child){
    margin-right: 42px;
}
.menu__item:hover{
    color: #FFDD63;
}
.lang__item{
    opacity: 0.6;
}
.lang__item:not(:last-child){
    margin-right: 17px;
}
.lang__item:hover,
.lang__item_active{
    font-family: "Gilroy-SemiBold", sans-serif;
    opacity: 1;
}
.donate{
    order: 3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 2px solid #000000;
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}
.donate:hover{
    background-color: #000000;
    color: #ffffff;
}
.donate span{
    margin-right: 4px;
}

.intro{
    padding: 262px 15px 0 15px;
    font-family: "Gilroy-Medium", sans-serif;
    background: #fff url('../img/intro-bg.svg') top center no-repeat;
    background-size: cover;
}
.intro__head{
    max-width: 1114px;
    margin: 0 auto 488px auto;
    color: #ffffff;
}
.intro__suptitle{
    margin-bottom: 22px;
    font-size: 28px;
    line-height: 32px;
}
.intro__title{
    font-size: 98px;
    line-height: 113px;
}
.intro__text{
    max-width: 1070px;
    margin: 0 auto;
    font-size: 38px;
    line-height: 53px;
    text-align: center;
}
.intro__text span{
    padding: 0 5px;
    background-color: #3787FE;
    color: #ffffff;
}
.donate-mobile{
    display: none;
}

.stream{
    margin-top: 80px;
    margin-bottom: 120px;
    overflow: hidden;
}
.stream-slider{
    margin: 0 -19px;
}
.stream-slider .slick-track{
    display: flex;
    align-items: center;
}
.stream-slider__item{
    padding: 0 19px;
}
.stream-slider__item img{
    width: 100%;
}

.work{
    padding: 126px 0;
    color: #ffffff;
}
.work__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 84px;
}
.work__info{
    width: 100%;
    max-width: 21%;
    margin-top: 20px;
}
.work-item:not(:last-child){
    margin-bottom: 40px;
}
.work-item h3{
    font-size: 78px;
    line-height: 105px;
    letter-spacing: -0.03em;
}
.work-item p{
    font-size: 22px;
    line-height: 30px;
    text-transform: lowercase;
    opacity: 0.6;
}
.work__slider{
    width: 100%;
    max-width: 62.75%;
}
.work-slider__next, .work-slider__prev {
    border: 2px solid #ffffff;
}

.faqs{
    padding: 120px 0;
    font-family: "Gilroy-Medium", sans-serif;
}
.faqs__items{
    margin-top: 84px;
}
.faqs-item{
    border: 1px solid #C4C4C4;
}
.faqs-item--active{
    border: 1px solid #000000;
}
.faqs-item:not(:last-child){
    margin-bottom: 25px;
}
.faqs-item__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 50px;
    cursor: pointer;
}
.faqs-item__title{
    font-size: 38px;
    line-height: 51px;
}
.faqs-item__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    min-width: 65px;
    height: 65px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #000000;
}
.faqs-item--active .faqs-item__btn{
    background-color: #000000;
}
.faqs-item__btn svg{
    fill: black;
}
.faqs-item--active .faqs-item__btn svg{
    fill: white;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faqs-item__body{
    display: none;
    margin: 10px 50px 50px 50px;
    padding: 40px 55px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: rgba(55, 135, 254, 0.1);
}
.faqs-item__body-header{
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 40px;
}
.faqs-item__field:not(:last-child){
    margin-bottom: 40px;
}
.faqs-item__label{
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}
.faqs-item__value{
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    line-height: 32px;
}
.faqs-item__copy{
    margin-left: 10px;
}
.faqs-item__copy svg{
    display: block;
}
.faqs-item-crypto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px;
}
.faqs-item-crypto__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 191px;
}
.faqs-item-crypto__item-img{
    margin-bottom: 23px;
}

.help{
    padding: 115px 0;
    font-family: "Gilroy-Medium", sans-serif;
}
.help__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.help__main, .help__box{
    width: 100%;
    max-width: 50%;
}
.help__text{
    padding: 37px 0 40px 0;
    font-size: 24px;
    line-height: 32px;
}
.help__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    height: 72px;
    background-color: #000000;
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    border: none;
}
.help__btn:hover{
    background-color: #3787FE;
}
.help__box{
    padding: 54px 52px;
    background-color: #ffffff;
}
.help-list{
    font-size: 18px;
    line-height: 28px;
}
.help-list__item{
    position: relative;
    padding-left: 34px;
}
.help-list__item:before,
.help-list__item:after{
    content: '';
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.help-list__item:before{
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    background-color: #000000;
}
.help-list__item:after{
    top: 50%;
    left: 5px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background-color: #ffffff;
}
.help-list__item::first-letter{
    text-transform: lowercase;
}
.help-list__item:not(:last-child){
    margin-bottom: 28px;
}

.projects{
    padding: 120px 0;
    font-family: "Gilroy-Medium", sans-serif;
}
.projects__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 94px;
}
.projects__tabs{
    width: 33.66666666666667%;
}
.projects__sliders{
    width: 58.91666666666667%;
    margin-left: auto;
}
.projects__slider{
    display: none;
    width: 100%;
}
.projects__slider_active{
    display: block;
}
.projects-tab{
    border-bottom: 2px solid #000000;
}
.projects-tab__title{
    padding: 25px 0;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}
.projects-tab__text{
    display: none;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.7;
}
.projects-tab--active{
    margin-bottom: 15px;
    padding: 48px;
    border-bottom: none;
    background-color: #3787FE;
    color: #ffffff;
}
.projects-tab--active .projects-tab__title{
    padding: 0 0 20px 0;
}
.projects-tab--active .projects-tab__text{
    display: block;
}
.projects-slider__next,
.projects-slider__prev{
    border: 2px solid #000000;
}

.thanks{
    display: grid;
    grid-template-columns: repeat(4, minmax(170px, 1fr));
    gap: 20px;
    margin-bottom: 130px;
    font-family: "Gilroy-Medium", sans-serif;
}
.thanks-item img{
    width: 100%;
}
.thanks-item--big{
    grid-column: 2 / span 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.thanks-item--big p{
    max-width: 500px;
    margin-top: 16px;
    font-size: 24px;
    line-height: 30px;
}
.thanks-item--big a{
    color: #000000;
    text-decoration: underline;
}
.thanks-item--big a:hover{
    color: #3787FE;
}

 .subscribe{
    padding: 166px 0;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 68px;
    line-height: 92px;
}
.subscribe__link{
    text-decoration: underline;
    color: #000000;
}
.subscribe__link:hover{
    text-decoration: underline;
    color: #3787FE;
}

.team{
    padding: 120px 0;
    font-family: "Gilroy-Medium", sans-serif;
}
.team__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 77px;
    row-gap: 80px;
    margin: 90px 0;
}
.team-item{
    display: flex;
}
.team-item:nth-child(6) ~ .team-item{
    display: none;
}
.team-item__img{
    position: relative;
    width: 124px;
    min-width: 124px;
    height: 124px;
    background-color: #C4C4C4;
    overflow: hidden;
}
.team-item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-item__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
    padding-top: 8px;
}
.team-item__name{
    font-size: 26px;
    line-height: 35px;
}
.team-item__position{
    margin-top: 6px;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.5;
}
.team-item__link{
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
    color: #3787FE;
}
.team__more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 274px;
    height: 72px;
    margin: 0 auto;
    border: 2px solid #000000;
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.team__more:hover{
    color: #ffffff;
    background-color: #000000;
}

.partners{
    padding: 140px 0;
    color: #ffffff;
}
.partners__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 42px;
    margin-top: 74px;
}
.partners__item{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 198px; 
    padding: 16px; 
    margin-bottom: 16px; 
    background-color: #ffffff; 
    border: 2px solid #ffffff; 
}
.partners__item img{ 
    max-height: 160px; 
}
.partners__item:hover{
    border: 2px solid #000000;
}

.contacts{
    padding: 100px 0;
    background-color: #ffffff;
    font-family: "Gilroy-Medium", sans-serif;
}
.contacts__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contacts__info,
.contacts__media{
    width: 100%;
    max-width: 46.5%;
}
.contacts-title{
    display: flex;
    align-items: center;
}
.contacts-title svg{
    margin-left: 13px;
    margin-top: 5px;
}
.contacts-list{
    margin-top: 39px;
}
.contacts-list__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contacts-list__item:not(:last-child){
    margin-bottom: 30px;
}
.contacts-list__value{
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.contacts-list__value:hover{
    color: #3787FE;
}

.btn-send{
    background-color: #000000;
    color: #ffffff;
    border: none;
}

.btn-send:hover{
    background-color: #3787FE;
}

textarea {
    resize: none;
 }

.form-control-custom{
    margin: 2% 0 2% 0;
}